<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!-- aop -->
    <aop:aspectj-autoproxy/>
    <bean id="controllerAop" class="com.lovesickness.o2o.common.aop.ControllerAOP"/>
    <aop:config>
        <aop:aspect id="myAop" ref="controllerAop">
            <aop:pointcut id="target"
                          expression="execution(public com.lovesickness.o2o.util.ResultBean *(..))"/>
            <aop:around method="handlerControllerMethod" pointcut-ref="target"/>
        </aop:aspect>
    </aop:config>
</beans>