.row-schedule {
    border: 1px solid #999;
    padding: .5rem;
    border-top: none;
    margin-left: auto;

}

.row-schedule:first-child {
    border-top: 1px solid #999;
}

.schedule-wrap:first-child {
    border-top: none;
}
