.bar{
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.header_m{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #3d4145;
    font-size: .85rem;
}
.header_r{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    margin-left: 6%;
    font-size: 0.7rem;
}
.index-banner {
    height: 35%;
}
.swiper-container{
    padding: 0;
}
.img-wrap {
    overflow: hidden;
}

.banner-img {
    width: 100%;
    height: 100%;
}

.total-shop-button {
    /*height: 1.5rem;*/
    /*line-height: 1.5rem;*/
    padding: 20px 10px;
    /*margin-bottom: 0.4rem;*/
    position: relative;
    cursor: pointer;
    background-color: #ffffff;
}

.total-shop-button:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    width: 0.15rem;
    height: 1.5rem;
    background-color: #0894ec;
}

.shop-classify {
    /*height: 3.3rem;*/
    /*padding: 0.2rem;*/
    cursor: pointer;
}

.shop-classify > .word {
    width: 65%;
    height: 100%;
    overflow: hidden;
    float: left;
}

.shop-classify > .word > p {
    margin: 0;
}

.shop-classify > .word > .shop-title {
    margin-left: 15px;
    font-size: 0.8rem;
}

.shop-classify > .word > .shop-desc {
    margin-left: 15px;
    font-size: 0.4rem;
}

.shop-classify > .shop-img {
    width: 2.4rem;
    height: 2.4rem;
    margin-left: 0.2rem;
    display: inline-block;
}

.shop-classify > .shop-classify-img-warp {
    width: 30%;
    height: 100%;
    margin-left: 0.2rem;
    display: inline-block;
}

.shop-classify > .shop-classify-img-warp > .shop-img {
    width: 100%;
    height: 100%;
}
.row{
    margin: 0;
    background-color: #ffffff;
    padding-bottom: 20px;
}
.row .col-50{
    margin: 0;
    width: 50%;
    padding: 3px 10px;
}


.clearfix{
    overflow: hidden;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.show{
    display: block;
}
.hide{
    display: none;
}
input[type='checkbox'] {
    display: none;
}
.card{
    background-color: #fff;
    box-shadow: 0 0.05rem 0.1rem rgba(0,0,0,.3);
    margin: 12px;
    border-radius: 12px;
    padding: 11px 15px;
}
.left {
    display: inline-block;
    vertical-align: top;
    margin-top: 35px;
}
.labcheck{
    min-height: 10px;
    height: auto !important;
    background: url(../../../resources/img/checkbox_0.png) no-repeat left 0px;
    padding-left: 24px;
    padding-top: 4px;
    margin-bottom: 26px;
    font-size: .12rem;
    cursor: pointer;
}
.checkBox{
    background: url(../../../resources/img/checkbox_1.png) no-repeat left 0px;
}
.goods {
    display: inline-block;
    width: 89.6%;
}
.goods img {
    width: 22%;
    margin-right: 10px;
    padding: 12px 0;
}
.goods .goods_details {
    width: 74%;
    padding: 12px 0;
}
.goods .goods_details .name{
    font-size: .7rem;
    color: #3e3e3e;
}
.goods .goods_details .describe{
    font-size: .6rem;
    color: #3e3e3e;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
}
.goods .goods_details .price{
    padding-top: 12px;
    font-size: 0.65rem;
}
.goods .goods_details .price .money .new {
    color: #ff6600;
    display: inline-block;
}
.goods .goods_details .price .money .old {
    color: #b8b8b8;
    text-decoration: line-through;
    display: inline-block;
    margin-left: 7px;
}
.goods .goods_details .price .kuang {
    border: 1px solid #dbdbdb;
    height: 0.95rem;
    line-height: 0.9rem;
}
.goods .goods_details .price .kuang span {
    text-align: center;
    height: 0.9rem;
    color: #a7a7a7;
    display: inline-block;
    width: 0.9rem;
}
.goods .goods_details .price .kuang .one {
    border-right: 1px solid #dbdbdb;
}
.goods .goods_details .price .kuang .two {
    border-left: 1px solid #dbdbdb;
}
.goods .goods_details .price .kuang .middle {
    border: none;
    width: 1.3rem;
    height: 0.9rem;
    font-size: 0.12rem;
    margin-bottom: 0;
    text-align: center;
    padding: 0;
    color: #3e3e3e;
}

.footer-g {
    width: 100%;
    /*height: 0.5rem;*/
    background-color: #FFFFFF;
    position: fixed;
    bottom: 50px;
    z-index: 990;
    border-bottom: 0.5px solid #f0f0f0;
}
.footer-g .footer-l{
    margin: 14px 10px;
}
.footer-g .footer-l input {
    vertical-align: middle;
}
.footer-g .footer-l span {
    color: #939393;
    font-size: 0.8rem;
    margin-left: 3px;
}
.footer-g .footer-r {
    width: 20%;
    color: #FFFFFF;
    position: relative;
    background-color: #f60;
    padding: 19px;
    margin: 8px;
    border-radius: 20px;
}
.footer-g .footer-r img {
    width: 100%;
    height: 0.5rem;
}
.footer-g .footer-r span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .7rem;
}
.footer-g .sum-money {
    height: 0.5rem;
    line-height: 0.5rem;
    margin-right: 0.12rem;
    color: #3e3e3e;
    position: absolute;
    top: 50%;
    left: 64%;
    transform: translate(-50%, -50%);
    font-size: .7rem;
}
.footer-g .sum-money span {
    color: #f60;
}
.del_goods{
    color:#d6151b;
    font-size: 0.7rem;
    border: 1px solid #d6151b;
    border-radius: 20px;
    padding: 5px 11px;
    margin: 10px;
}